<div ng-controller="SearchCtrl as searchcntrl">
	<form class="form-horizontal" ng-submit="searchcntrl.search(searchcntrl.query)">

		<div class="vertical-center">
			<div layout="row">
				<img src="images/logo.png"/>
			</div>
			<div class="col-lg-10">
				<div class="row" style="text-align:center;">
					<h1><i>Total Recall</i></h1>
				</div>
				<div class="row">
					<div flex layout="row" layout-align="center center">
						 <div flex layout="column" >
								<input type="text" class="form-control" ng-model="searchcntrl.query">
							<div layout="row" layout-align="center">
								<md-button class="md-raised"> Recall </md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
